pipeline/PL_PARENT_MigrProjSQLtoADLS_JULY11.json
{
	"name": "PL_PARENT_MigrProjSQLtoADLS_JULY11",
	"properties": {
		"activities": [
			{
				"name": "LKUP_SQLTABLE_WATERMARK_DW",
				"description": "This query extracts metadata, including schema, table name, watermark column, and last processed value, from the ADF watermark table. ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_migprj_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSQLTable",
				"description": "This expression retrieves the array of records returned by the lookup activity, which is used as input for iteration in the ForEach activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_SQLTABLE_WATERMARK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_SQLTABLE_WATERMARK_DW').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"description": "This pipeline invokes the child pipeline by dynamically passing parameters ",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILD_MigrProjSQLtoADLS_JULY11",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@item().TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@item().WatermarkColumn",
										"type": "Expression"
									},
									"LastLoadValue": {
										"value": "@item().LastLoadValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}